/* CSS Document */
body{
 height:1000px;
}

#header{
	width:100%;
	height:10%;
	min-height:30px;
	background-color:gray;
	text-align:center;
}

#courseNavigation{
	float:left;
	width:100%;
	height:100%;
}

#navigation{
	margin:0 auto;
	width:-webkit-fit-content;
	width:-moz-fit-content;
	height:100%;
	background-color:green;
}

#content{
	position:relative;
	margin: 0 15%;
	height:100%;
	width:80%;
	padding:10px;
}


#footer{
	width:100%;
	height:10%;
	min-height:30px;
	background-color:black;
}

.star{
/*	position:absolute;
	left:10px;
	top:10px;
	height:10%px;
	width:10%;
	
	/* Add an Image*/
	max-width:32px;
	max-height:32px;
	background-color:gray;
    height: 20px;
    position: absolute;
    left: -10px;
    top: -10px;
	min-width:30px;
	min-height:30px;
    width: 20px;
	border-radius:20px;
}


.authorImage{
	
}
.item{
	box-shadow: 0px 0px 10px #888888;
	border:2px hidden;
	border-radius:10px;
	position:absolute;
	text-align:center;
	overflow:hidden;
	background-color:white;
	cursor:pointer;
	padding:1px;
	z-index:1;
}

.author h3{
	width:100%;
	color:blue;
}


.author:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.author {
	width:90%;
	margin-left:10%;
	display: inline-block;
}
 
#main{
	width:100%;
	height:80%;
}
html[xmlns] .author {
	display: block;
}
 
* html .author {
	height: 1%;
}

.img{
	background-color:green;
	border:2px hidden;
	border-radius:10px 10px 0px 0px;
}

#favourites{
	height:100%;
	background-color:green;
	float:left;
	width:1%;
	padding:1px;
}

#drop{
	overflow:hidden;
	width:1%;
	visibility:hidden;
	border:dashed;
	border-color:black;
	border-width:2px;
	height:10%;
	left:0.3%;
	position:fixed;
	text-align:center;
}

.vertical{
	 margin-top:7%;
}
#drop.drag{
		visibility:visible;
		width:14%;
}
#favourites.drag {
		width:15%;
}

#favourites.drag img{
	display:block;
}

#favourites:hover{
	width:15%;
}

#favourites:hover #drop{
	width:14%;
	visibility:visible;
}

#favourites .img{
	display:none;
}

#favourites:hover .img{
	display:block;
}


#favourites .img{
	margin-bottom:5px;
	margin-left:5px;
	border-radius:0px;
}

#favourites .img:first-child{
	margin-top:20%;
	border-radius:10px 10px 0px 0px;
}


#drop + img{
	margin-top:130px;
}

.review{
	font-size:20px;
	margin-left:5%;
	margin-bottom:2%;
}
.map{
	max-width:32px;
	max-height:32px;
	background-image: url("map.png");
    background-size: 100% 100%;
    height: 10%;
    opacity: 0.7;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 10%;
}

.map:hover{
	opacity:1;
	cursor:pointer;
}

.opinion{
	text-align:left;
	overflow-y: auto;
}


#loadingImg{
	position:fixed;
	left:40%;
	top:30%;
	width:15%;
	z-index:10;
	-webkit-animation:rotate 5s infinite; /* Safari and Chrome */
	-webkit-animation-timing-function: linear;
	-webkit-transform-origin:50% 50%;
}


@-webkit-keyframes rotate
{
0%   {-webkit-transform: rotate(0deg);}
100% {-webkit-transform: rotate(360deg); }
}

.progBar{
	margin-bottom:10px;
	margin-left:auto;
	width:75%;
}